# Python bytecode / cache
__pycache__/
*.py[cod]

# Python build artifacts
build/
dist/
*.egg-info/
*.egg

# Test / tooling artifacts
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Keep folder, ignore its contents
/runs/*
!/runs/.gitkeep

/eplus_outputs/*
!/eplus_outputs/.gitkeep

# Logs
*.log

# Large artifacts (optional)
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.npz
